name: 06- Workflow contexts
run-name: DEBUG | ${{inputs.debug}}

on: 
    push:
    workflow_dispatch:
        inputs: # variables passed to workflow when it triggered by workflow_dispatch
            debug:   # this variable will be appeared in UI as a checkbox
                type: boolean
                default: false
env: 
    MY_WORKFLOW_VAR: "workflow"
    
jobs: 
    echo-data: 
        runs-on : ubuntu-latest
        env:
            MY_JOB_VAR: "job"
        steps:
            - name: Display informations
              run :  |
                  echo "Event name : ${{github.event_name}}"  # the event that trigger this workflow
                  echo "Ref : ${{github.ref}}"
                  echo "SHA : ${{github.sha}}"   # the id of commit that trigger this workflow
                  echo "Actor : ${{github.actor}}"
                  echo "Worflow : ${{github.workflow}}"  # the name of workflow
                  echo "Run ID : ${{github.run_id}}"
                  echo "Run number: ${{github.run_number}}"  # how mych this workflow has been run
            
            - name: Retrieve variables
              run: |
                echo "Variable value : ${{vars.MY_VAR}}"   # variables defined in this github repository
            
            - name: Display environnement variables
              env: 
                MY_STEP_VAR : "step"
              run: |
                echo "MY_WORKFLOW_VAR : ${{env.MY_WORKFLOW_VAR}}"
                echo "MY_JOB_VAR : ${{env.MY_JOB_VAR}}"
                echo "MY_STEP_VAR : ${{env.MY_STEP_VAR}}"
